* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);    color: white;
}
table {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

th,td {
    padding: 20px;
}
.container {
    height: 100vh;
    text-align: center;
    padding: 150px 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 200;
}

form {
    margin: 40px 0px;
}
input[type=url] {
    width: 40%;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    margin: 5px;
}

input[type=submit] {
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    margin: 5px;
}

input[type=submit]:hover {
    color: white;
    background-color: black;

}

a {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: lightskyblue;
}